body{
    background-color: 16213e;
}

#container {
    background-color: 1a1a2e;
    border: 4px solid black;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

    position: absolute;
    top : 30%;
    left: 40%;
    height: 350px;
    width : 250px;

    transition: all 100ms ease;
    
}

#container:hover {
    transform: scale(1.01);
}

#flagcontainer {
    border-radius: 5px;
    background-color: 4b5d67;
    border : 2px solid black;
    height : 55%;
    margin: 10px;
}

#country {
    border-radius: 5px;
    background-color: 4b5d67;
    border : 2px solid black;
    height: 8%;
    margin: 10px;
    text-align: center;
    
}

#data {
    border-radius: 5px;
    background-color: 4b5d67;
    border: 2px solid black;
    height: 22%;
    margin: 10px;
}

.datachild {
    display : inline-block;
    height : 40%;
    width : 30%;
    font-size: smaller;
    text-align: center;
    padding-top: 20px;
    font-weight: 600;
}

img{
    
    display: block;
    height: 75%;
    margin: auto;
    margin-top: 15px;
    width: 60%;
}

#datachildcontain {

    margin-top: 10px;
    padding-left: 8px ;
    max-height: 80%;
}

span {
    display:inline-block;
    
    margin-top: 2px;
    font-weight: 600;
}
